<h1 class='title'>Articles</h1>
<div class='well'>
  <table class='table' style='width:100%;'>
    <tr>
      <th>Title</th>
      <th>Options</th>
    </tr>

    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.title.html_safe, article_path(article) %>
          <br/><i>Comments: <%= article.comments.count %></i>
        </td>
        <td><%= link_to '<i class="fa fa-eye"></i>'.html_safe, article_path(article) %>
        <%= link_to '<i class="fa fa-cog"></i>'.html_safe, edit_article_path(article) %>
        <%= link_to '<i class="fa fa-close"></i>'.html_safe, article_path(article),
        method: :delete,
        data: { confirm: 'Are you sure you would like to permanently delete this article?' } %> </td>
      </tr>
    <% end %>
    <tr>
      <td><%= link_to "New article <i class='fa fa-plus'></i>".html_safe, new_article_path %></td>
      <td></td>
      <td></td>
      <td></td>
  </table>
</div>

<%= link_to 'Home', controller: 'welcome' %>
